<a href="https://colab.research.google.com/github/sgr1118/coding_test/blob/main/%EC%BD%94%ED%85%8C_%EC%B1%95%ED%84%B02~3_%EC%86%90%EA%B8%B0%EB%9D%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# chapter 02 : 파이썬 기초 문법과 데이터 형식

### Section 01 : 파이썬의 기초 문법

##### 1. 변수와 print() 함수
- 변수는 어떤 값을 저장하는 메모리 공간이다. 다만 파이썬은 별도의 변수 선언은 없다. 다음 예처럼 한 행이나 여러 행에 나누어 변수에 값을 대입하는 순간 변수를 선언하는 효과가 생긴다.

In [ ]:
boolVar, intVar, floatVar, strVar = True, 0, 0.0, ""

type(boolVar), type(intVar), type(floatVar), type(strVar)

(bool, int, float, str)

In [ ]:
# print()의 결과 예측해보기

print("100") # "100"은 숫자던 문자던 무조건 문자로 취급
print("%d" % 100) # 반면 이 값은 숫자를 의미한다. 서식 %d가 지정한 숫자는 그대로 숫자다

100
100

In [ ]:
# print()의 결과 예측해보기 - 2

print("100+100") # "100+100"은 숫자던 문자던 무조건 문자로 취급
print("%d" % (100+100)) # 반면 이 값은 숫자를 의미한다. 서식 %d가 지정한 숫자는 그대로 숫자다. 그래서 합한 값 200으로 나온다.

100+100
200

In [ ]:
# print()의 결과 예측해보기 - 3

print("%d" % (100, 200)) # "100+100"은 숫자던 문자던 무조건 문자로 취급
print("%d %d" % (100)) # 반면 이 값은 숫자를 의미한다. 서식 %d가 지정한 숫자는 그대로 숫자다. 그래서 합한 값 200으로 나온다.

# print("%d" % (100, 200)에서 발생하는 에러 메시지
# TypeError: not all arguments converted during string formatting

# print("%d %d" % (100))에서 발생하는 오류 메시지
# TypeError: not enough arguments for format string

In [ ]:
# 위 결과를 옳바르게 수정하기

print("%d, %d" % (100, 200)) # 서식 %d %d로 수정하여 숫자 2개를 지정하면 해결된다.
print("%d" % (100)) # 서식을 사용할 숫자가 1개이기 때문에 %d를 1개만 입력하면 해결된다.

100, 200
100

##### print() 함수에서 사용할 수 있는 서식

|서식|값의 예|설명|
|---|---|---|
|%d, %x, %o|10, 100, 1234|정수(10진수, 16진수, 8진수)|
|%f|0.2, 1.0, 3.14, 3.14e3|실수(소수점이 붙은 수)|
|%c|'b', '한', '파'|문자 하나로 된 글자|
|%s|"안녕", 'abcdefg', "a"|한 글자 이상의 문자열|

In [ ]:
# input() 함수

var1 = input()
var2 = input()

100
200

In [ ]:
# input 함수 결과 보기

print(var1 + var2) # 예상과 달리 그냥 이어붙어져서 나왔다.
# 이유는 input은 모든 것을 문자열로 간주하기 때문이다.

100200

In [ ]:
# input 값을 숫자로 인식하게해보기

var1 = int(input()) # int() 추가
var2 = int(input())

print(var1 + var2)

100
200
300

In [ ]:
# input 함수에 설명문 추가하기

var1 = int(input("숫자를 입력하세요 --> "))

숫자를 입력하세요 --> 18

##### 2. 연산자

산술 연산자

|연산자|설명|사용 예|
|---|---|---|
|=|대입 연산자|a = 3|
|+|더하기|a = 5+3|
|-|빼기|a = 5-3|
|*|곱하기|a = 5*3|
|/|나누기|a = 5/3|
|//|나누기(몫)|a = 5//3|
|%|나머지 값|a = 5%3|
|**|제곱|a = 5**3|

대입 연산자

|연산자|사용 예|설명|
|---|---|---|
|+=|a+=3|a = a+3과 동일|
|-=|a-=3|a = a-3과 동일|
|*=|a*=|a = a*3과 동일|
|/=|a/=3|a = a/3과 동일|
|//=|a//=3|a = a//3과 동일|
|%=|a%=3|a = a%3과 동일|
|=%|a%=3|a = a%3과 동일|

관계 연산자
- 관계 연산자(또는 비교 연산자)는 어떤 것이 크거나 작거나 같은지 비교하는 것으로 그 결과는 True / False이다. 주로 조건문이나 반복문에서 사용되며, 단독으로는 사용하지 않는다. 

|연산자|의미|설명|
|---|---|---|
|==|같다.|구 값이 동일하면 참|
|!=|같지 않다.|두 값이 다르면 참|
|>|크다.|왼쪽이 크면 참|
|<|작다.|왼쪽이 작으면 참|
|>=|크거나 같다.|왼쪽이 크거나 같으면 참|
|<=|작거나 같다.|왼쪽이 작거나 같으면 참|

##### 3. 조건문

기본 if문
- "만약 ~라면"으로 해석할 수 있다. 

![](https://images.velog.io/images/foeverna/post/e5c7858f-76ce-4d60-9794-f2b383ce14e1/awef21.png)
<center>if 문의 형식과 순서</center>

In [18]:
# if문 예시

a = 99

if a < 100:
    print("100보다 작군요.")

100보다 작군요.

if~else 문
- 참일 때 실행할 문장과 거짓일 때 실행할 문장으로 다르게 사용할 경우 사용한다.

In [ ]:
# if~else문 예시

a = 200

if a < 100:
    print("100보다 작군요.")
else:
    print("100보다 크군요.")

100보다 크군요.

반복문
- 동일하게 반복하는 문장은 반복문으로 간단하게 표현이 가능하다.
- 이런 형식으로 주로 사용한다.
- for 변수 in range(start, end+1, 증가값):

range()
- range() 함수는 지정된 범위 값을 반환한다. range(0, 3, 1)은 0,1,2를 반환하고 range(0, 3)과도 같은 결과를 가져온다.

In [ ]:
# range 예시

for i in range(0, 3, 1):
    print("안녕하세요? for 문을 공부 중입니다. ^^")

# 다른 예시
for i in [0, 1, 2]:
    print("안녕하세요? for 문을 공부 중입니다. ^^") # 위와 같은 결과를 준다.

안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^

while 문
- while 문은 반복 횟수를 결정하기보다는 조건식이 참일 때 반복하는 방식을 사용한다. 따라서 무한 루프를 사용할 수 있다.

![](https://dojang.io/pluginfile.php/13600/mod_page/content/3/017001.png)
<center>while 문</center>

In [ ]:
# 무한반복되는 while문

while True:
    print("ㅎ", end = "")

ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ

KeyboardInterrupt: ignored

break 문
- while문이 무한 루프에 빠질 때 빠져나가는 방법으로 break를 사용한다.

![](https://t1.daumcdn.net/cfile/tistory/99EB743A5D86ABEB16)
<center>break 문</center>

In [ ]:
# break 문 예시

for i in range(1, 100):
    print('for 문을 %d번 실행했습니다.' % i)
    break # break 때문에 단 1번 시행되고 멈춘다.

for 문을 1번 실행했습니다.

continue 문
- continue 문을 만나면 블록의 남은 부분을 무조건 건너뛰고 반복문의 처음으로 돌아간다. 즉 continue 문을 만나면 반복문을 처음부터 다시 수행한다.

![](https://t1.daumcdn.net/cfile/tistory/99D7CC33599501081B)
<center>continue 문</center>

##### 5. 함수
- 함수란 매개변수를 입력받은 후 그 매개변수를 가공 및 처리해서 반환 값을 돌려준다.

In [ ]:
## 함수 선언 부분 ##

def plus(v1, v2):
    result = 0
    result = v1 + v2
    return result

## 전역 변수 선언 부분 ##

hap = 0

## 메인 코드 부분 ##

hap = plus(100, 200)

print("100과 200의 plus() 함수 결과는 %d" % hap)

100과 200의 plus() 함수 결과는 300

In [ ]:
# main() 함수를 사용하여 재표현하기

if __name__ == '__main__':
    hap = plus(100, 200)
    print("100과 200의 plus() 함수 결과는 %d" % hap)

100과 200의 plus() 함수 결과는 300

지역 변수와 전역 변수
- 지역 변수는 한정된 지역에서만 사용하는 변수고, 전역 변수는 프로그램 전체에서 사용하는 변수이다.

In [ ]:
# 함수 선언 부분

def func1():
    a = 10 # 지역 변수
    print('func1()에서 a 값 %d' % a)

def func2():
    print('func2()에서 a 값 %d' % a)   

# 전역 변수 선언
a = 20 # 전역 변수

# 메인코드

func1()
func2()

func1()에서 a 값 10
func2()에서 a 값 20

global 예약어
- 함수 안에서 지역 변수 대신 전역 변수를 사용하고 싶은 경우가있다. global을 사용하면 이런 기능을 사용할 수 있다.

In [ ]:
# 함수 선언 부분

def func1():
    global a # 이 함수 안에서는 a는 전역 변수
    a = 10 # 지역 변수
    print('func1()에서 a 값 %d' % a)

def func2():
    print('func2()에서 a 값 %d' % a)   

# 전역 변수 선언
a = 20 # 전역 변수

# 메인코드

func1()
func2()

func1()에서 a 값 10
func2()에서 a 값 10

반환 값이 여러 개인 함수
- 함수는 문법상 반환 값이 2개 이상일 수 없음에도 코드를 작성하다보면 2개 이상을 반환해야하는 경우가 있다. 이떄는 리스트에 반환한 값을 넣은 후 리스트를 반환하면 된다.

In [ ]:
# 함수 선언 부분
def multi(v1, v2):
    retList = [] # 반환할 리스트
    res1 = v1 + v2
    res2 = v1 - v2
    retList.append(res1)
    retList.append(res2)
    return retList

# 전역 변수 선언 부분

myList = []
hap, sub = 0, 0

# 메인 코드 부분

myList = multi(100, 200)
hap = myList[0]
sub = myList[1]
print('Multi()에서 반환한 값 ==> %d %d' % (hap, sub))

Multi()에서 반환한 값 ==> 300 -100

In [ ]:
# self study

# 100과 20의 +, -, *, //, %, **이 출력되도록 하라


# 함수 선언 부분
def multi(v1, v2):
#    retList = [] # 반환할 리스트
    res1 = v1 + v2
    res2 = v1 - v2
    res3 = v1*v2
    res4 = v1//v2
    res5 = v1 % v2
    res6 = v1**v2
#    retList.append(res1)
#    retList.append(res2)
    return res1, res2, res3, res4, res5, res6

# 전역 변수 선언 부분

# myList = []
더하기, 빼기, 곱하기, 몫, 나머지, 제곱 = multi(100, 200)

# 메인 코드 부분

# myList = multi(100, 200)
#hap = myList[0]
#sub = myList[1]
print('Multi()에서 반환한 값 ==> %d %d %d %d %d %d' % (더하기, 빼기, 곱하기, 몫, 나머지, 제곱))

Multi()에서 반환한 값 ==> 300 -100 20000 0 100 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Section 02 : 파이썬의 데이터형

##### 1. 기본 데이터형
- 파이썬에서 지원하는 데이터형은 기본형과 연속형으로 나눌 수 있다. 기본 데이터 형에는 리터럴, 볼, 숫자형 중 정수와 실수
- 연속형은 데이터 모음으로, 변경이 가능한 가변형, 변경이 불가능 불변형이있다. 가변형에는 리스트, 딕셔너리, 세트 등이 있고, 불변형에는 문자열과 튜플이 있다.

리터럴
- 숫자, 문자열 등 상수 값을 직접 표기한 데이터

불
- 참 또는 거짓을 저장하여 사용

숫자형
- 정수와 실수 두 가지가 있다. 다른 프로그래밍 언에는 정수를 다양하게 표현하지만 파이썬에서 정수는 int 하나뿐이고 크기에도 제한이 없다.

In [ ]:
# bool 예시

boolVar = 100 > 200
boolVar
type(boolVar)

bool

In [ ]:
# 숫자형 예시

intVar = 100 ** 100
intVar
type(intVar)

int

In [ ]:
# 실수

floatVar = 0.123123123123123
floatVar
type(floatVar)

float

##### 2. 리스트(가변형 데이터 형식)

리스트의 개념
- 변수를 배열로 만들어 놓은 것

리스트 생성과 사용법
- 리스트이름 = [변수 1, 변수 2, 변수3 ........]

In [ ]:
# 리스트 만들기
aa = [1,2,3,4]

print(aa[0])

1

빈 리스트 생성과 항목 추가

In [ ]:
aa = []

for i in range(0, 100):
    aa.append(i)

len(aa)

100

In [ ]:
aa = []
for i in range(0, 4):
    aa.append(i)

hap = 0

for i in range(0, 4):
    aa[i] = int(input(str(i + 1) + "번째 숫자 :"))

hap = 0
for i in range(0, 4):
    hap = hap + aa[i]

print('합계 ==> %d' % hap)

1번째 숫자 :1
2번째 숫자 :2
3번째 숫자 :3
4번째 숫자 :4
합계 ==> 10

리스트 값에 접근하는 방법

In [ ]:
aa = [1,2,3,4]

print('aa[-1]은 %d, aa[-2]는 %d' % (aa[-1], aa[-2])) # -1은 맨 뒤에서 첫번째, -2는 맨 뒤에서 두번째

aa[-1]은 4, aa[-2]는 3

In [ ]:
# 리스트 슬라이싱

aa = [1,2,3,4]

print(aa[0:3], aa[2:4])

[1, 2, 3] [3, 4]

리스트 조작 함수

|함수|설명|사용법|
|---|---|---|
|append()|리스트 맨 뒤에 항목 추가한다.|리스트이름.append()|
|pop()|리스트 맨 뒤의 항목을 빼낸다(리스트에서 해당 항목을 삭제한다.)|리스트이름.pop()|
|sort()|리스트의 항목을 정렬한다.|리스트이름.sort()|
|reverse()|리스트의 항목의 순서를 역순으로 만든다.|리스트이름.reverse()|
|index()|지정한 위치에 값을 삽입한다.|리스트이름.index(찾을값)|
|remove()|리스트에서 지정한 값을 제거한다. 단 지정한 값이 여러 개이면 첫 번째 값만 지운다.|리스트이름.(지울값)|
|extend()|리스트 뒤에 리스트를 추가한다. 리스트의 더라기 연산과 기능이 동일하다.|리스트이름.extend(추가할 리스트)|
|count()|리스트에서 해당 값의 개수를 센다.|리스트이름.count(찾을값)|
|clear()|리스트 내용을 모두 지운다.|리스트이름.clear()|
|dell()|리스트에서 해당 위치의 항목을 삭제한다.|del(리스트이름[위치])|
|len()|리스트에 포함된 전체 항목의 개수를 센다.|len(리스트이름)|
|copy()|리스트 내용을 새로운 리스트에 복사한다.|새리스트 = 리스트이름.copy()|
|sorted()|리스트의 항목을 정렬해서 새로운 리스트에 대입한다.|새리스트 = sorted(리스트)|

In [ ]:
# 리스트 조작 함수 사용해보기

aa = [30, 10, 20]
print('현재 리스트 : %s' % aa)

aa.append(40)
print('append(40) 후의 리스트 : %s' % aa)

print('pop()으로 추출한 값 : %s' % aa.pop())
print('pop() 루의 리스트 : %s' % aa)

aa.sort()
print('sort() 후의 리스트 : %s' % aa)

aa.reverse()
print('reverse() 후의 리스트 : %s' % aa)

print('20 값의 위치 : %d' % aa.index(20))

aa.insert(2, 222)
print('insert(2, 222) 후의 리스트 : %s' % aa)

aa.remove(222)
print('remove(222) 후의 리스트 : %s' % aa)

aa.extend([77, 88, 77])
print('extend([77, 88, 77]) 후의 리스트 : %s' % aa)

print('77 값의 개수 : %d' % aa.count(77))

현재 리스트 : [30, 10, 20]
append(40) 후의 리스트 : [30, 10, 20, 40]
pop()으로 추출한 값 : 40
pop() 루의 리스트 : [30, 10, 20]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
20 값의 위치 : 1
insert(2, 222) 후의 리스트 : [30, 20, 222, 10]
remove(222) 후의 리스트 : [30, 20, 10]
extend([77, 88, 77]) 후의 리스트 : [30, 20, 10, 77, 88, 77]
77 값의 개수 : 2

2차원 리스트
- 2차원 리스트는 1차원 리스트를 여러개 연결한 것으로 첨자를 2개 사용

In [ ]:
list1 = [] # 1차원 리스트  
list2 = [] # 2차원 리스트
value = 1 # 리스트에 입력할 값

for i in range(0, 3): # 3행 짜리 2차원 리스트 생성
    for k in range(0, 4):
        list1.append(value)
        value += 1
    list2.append(list1)
    list1 = []

for i in range(0, 3): # 2차원 리스트 출력
    for k in range(0, 4):
        print('%3d' % list2[i][k], end = '') # 리스트이름[행][열]방식으로 각 항목으로 출력한다. end = ''는 print()함수가 행을 넘기지 않고 띄어쓰기 되도록 한다.
    print(' ')

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [ ]:
# self study

# 4행 3열짜리 리스트를 생성한 후 12 ~ 1을 입력하고 출력해 보자. 추가로 배열의 모든 숫자 합계도 계산해 보자.

list1 = [] # 1차원 리스트  
list2 = [] # 2차원 리스트
value = 12 # 리스트에 입력할 값

for i in range(0, 4): # 4행 짜리 2차원 리스트 생성
    for k in range(0, 3):
        list1.append(value)
        value -= 1
    list2.append(list1)
    list1 = []
#    list2.reverse()

for i in range(0, 4): # 2차원 리스트 출력
    for k in range(0, 3):
        print('%4d' % list2[i][k], end = '') # 리스트이름[행][열]방식으로 각 항목으로 출력한다. end = ''는 print()함수가 행을 넘기지 않고 띄어쓰기 되도록 한다.
    print(' ')

print('배열의 합계 ==> %d' % sum(list2[0] + list2[1] + list2[2] + list2[3]))

  12  11  10
   9   8   7
   6   5   4
   3   2   1
배열의 합계 ==> 78

컴프리헨션
- 컴프리헨션은 값이 순차적인 리스트를 한 줄로 만드는 간단한 방법
- 리스트 = [수식 for 항목 in range() if 조건식] : 컴프리헨션의 기본적인 구성
- 리스트 = [[수식 for 항목 in range()] for 항목 in range()] : 2차원 리스트 의 컴프리헨션 구성

In [ ]:
# 기존 방법

num = []
for i in range(1, 6):
    num.append(i)

num

[1, 2, 3, 4, 5]

In [ ]:
# 컴프리헨션 방법

num = [num for num in range(1, 6)]
num

[1, 2, 3, 4, 5]

In [ ]:
# if문을 사용하는 컴프리헨션

num = [num for num in range(1, 21) if num % 3 == 0]
num

[3, 6, 9, 12, 15, 18]

In [ ]:
# 2차원 리스트 컴프리헨션

num2 = [[0 for _ in range(4)] for _ in range(3)]
num2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

#### 3. 딕셔너리(가변형 데이터 형식)
- 딕셔너리는 쌍 2개가 하나로 묶인 구조이다.{}로 묶어 구성하며, key와 value의 쌍으로 구성되어 있다.

In [ ]:
# 딕셔너리 만들어보기

student1 = {'학번' : 1000, '이름' : '홍길동', '학과' : '컴퓨터학과'}

# 딕셔너리 내용 추가
student1['연락처'] = '010-6669-2361'
student1

# 딕셔너리 값 변경하기
student1['학과'] = '경제학과'
student1 # 이미 존재하는 키를 사용하면 추가되는 것이 아니라 기존 값에 바뀐다.

# 딕셔너리 값 삭제하기
del(student1['학과'])
student1

# 딕셔너리 중복된 키를 사용한 경우

student1 = {'학번' : 1000, '이름' : '홍길동', '학과' : '파이썬학과', '학번' : 2000}
student1 # 마지막에 있는 키 값을 사용한다.

{'학번': 2000, '이름': '홍길동', '학과': '파이썬학과'}

딕셔너리 사용

In [ ]:
print(student1['학번'],student1['이름'],student1['학과'])

2000 홍길동 파이썬학과

In [ ]:
# get(key)

student1.get('이름')

'홍길동'

In [ ]:
# 딕셔너리 key 호출

student1.keys()

# 리스트로 추출하기

list(student1.keys())

['학번', '이름', '학과']

In [ ]:
# 딕셔너리 value 추출

student1.values()

dict_values([2000, '홍길동', '파이썬학과'])

In [ ]:
# 딕셔너리 item 호출

student1.items()

dict_items([('학번', 2000), ('이름', '홍길동'), ('학과', '파이썬학과')])

In [ ]:
# 딕셔너리 안에 해당 키가 있는지 없는지 확인

print('이름' in student1, '주소' in student1)

True False

In [ ]:
# for문을 사용하여 딕셔너리 모든 값 출력하기

singer = {}

singer['이름'] = '트와이스'
singer['구성원 수'] = 9
singer['데뷔'] = '서바이벌 식스틴'
singer['대표곡'] = 'Cheer Up'

for k in singer.keys():
    print('%s --> %s' % (k, singer[k]))

singer

이름 --> 트와이스
구성원 수 --> 9
데뷔 --> 서바이벌 식스틴
대표곡 --> Cheer Up

{'이름': '트와이스', '구성원 수': 9, '데뷔': '서바이벌 식스틴', '대표곡': 'Cheer Up'}

##### 4. 세트(가변형 데이터 형식)
- 세트는 키만 모아 놓은 딕셔너리의 특수한 형태다. 딕셔너리는 키는 중복되면 안 되므로 세트에 들어 있는 값은 항상 유일하다.

In [ ]:
# set

Set1 = {1,2,2,3,4}
Set1

{1, 2, 3, 4}

In [ ]:
# Set 집합

Set1 = {1,2,3,4,5}
Set2 = {4,5,6,7}

print(Set1 & Set2) # 교집합
print(Set1 | Set2) # 합집합
print(Set1 - Set2) # 차집합
print(Set1 ^ Set2) # 대칭 차집합

# 명령어를 사용한 Set 집합

print(Set1.intersection(Set2))
print(Set1.union(Set2))
print(Set1.difference(Set2))
print(Set1.symmetric_difference(Set2))

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}
{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

##### 5. 문자열(불변형 데이터 형식)
- 문자열은 문자를 연속해서 저장래 놓은 데이터 형식으로, 파이썬에서는 문자열을 ""나 ''로 묶어서 표현한다. 문자열은 한번 저장하면 변경할 수 없다.

In [ ]:
s = '자료구조&알고리즘'
print(s[0])
print(s[1:4])
print(s[4:])

ss = '파이썬' + '최고'
print(ss)
print(ss * 3)

자
료구조
&알고리즘
파이썬최고
파이썬최고파이썬최고파이썬최고

문자열 검색
- count(), find(), rfind(), index(), rindex() 함수를 사용하면 문자열을 찾을 수 있다.

In [5]:
ss = '파이썬 공부는 즐겁습니다. 물론 모든 공부가 다 재미있지는 않죠. ^^'

print(ss.count('공부'))
print(ss.find('공부'), ss.rfind('공부'), ss.index('공부'), ss.find('없다')) # rfind : 문자열 오른쪽에서부터 문자열을 찾는다
print(ss.index('공부'), ss.rindex('공부'), ss.index('공부', 5))
print(ss.startswith('파이썬'), ss.startswith('파이썬', 10), ss.endswith('^^'))

2
4 21 4 -1
4 21 21
True False True

문자열 분리와 결합

In [6]:
ss = 'Python을 열심히 공부 중'
print(ss.split())

s1 = '하나:둘:셋'
print(s1.split(':'))

s2 = '하나\n둘\n셋' # \n은 행이 넘어가는 특수 문자
print(s2.splitlines())

s3 = '%'
print(s3.join('%'))

['Python을', '열심히', '공부', '중']
['하나', '둘', '셋']
['하나', '둘', '셋']
%

함수 이름 대입
- map(함수 이름, 리스트 이름) 함수는 리스트의 문장열 하나하나를 함수 이름에 대입한다. 따라서 다음 코드와 같은 방법으로 문자열로 구성된 리스트를 숫자로 변환할 수 있다.

In [7]:
before = ['2022', '12', '31']
after = list(map(int, before))
after

[2022, 12, 31]

##### 6. 튜플(불변형 데이터 형식)
- 튜플은 리스트와 사용법이 비슷하면서 약간 다르다. 리스트는 [] 사용, 튜플은 () 사용한다. 또 튜플은 수정할 수 없다. 읽기 전영 자료를 저장할 때 사용한다.
- 튜플은 append, del 등 명령을 사용할 수 없다. 읽기 전용이기 때문이다. 물론 del을 사용하여 아예 튜플 자체를 삭제할 수 있다.

In [9]:
# 튜플 생성과 삭제

#tt1 = (10, 20, 30); tt1
tt2 = 10, 20, 30; tt2 # 튜플은 괄호를 생략했음에도 동일한 튜플을 생성한다.

(10, 20, 30)

In [10]:
# 튜플 생성 시 주의할 점

tt3 = (10); tt3
print(tt3)

tt4 = 10; tt4
print(tt4)

tt5 = (10,); tt5
print(tt5)

tt6 = 10,; tt6
print(tt6)

# 항목이 하나인 경우 tt5, tt6처럼 뒤에 쉼표를 붙여야한다.

10
10
(10,)
(10,)

튜플 사용

In [15]:
tt1 = (1,2,3,4)
print(tt1[0])
print(tt1[0] + tt1[1] + tt1[2])

# 튜플 슬라이싱
print(tt1[1:3])

# 튜플 연산
tt2 = ('A', 'B')
print(tt1 + tt2)
print(tt2 * 3)

# 튜플, 리스트 서로 변환
mylist = list(tt1)
mylist.append(5)
mytuple = tuple(mylist)
mytuple

1
6
(2, 3)
(1, 2, 3, 4, 'A', 'B')
('A', 'B', 'A', 'B', 'A', 'B')

(1, 2, 3, 4, 5)

# 연습문제

1. 다음 중 파이썬의 데이터형이 아닌 것을 모두 고르시오
- long, double, char

2. print() 함수에서 사용할 수 있는 서식이다. 관련된 것끼리 연결
- 실수 : %f, 정수 : %d, 문자열 : %s, 문자 : %c

3. 설명에 해당하는 빈칸에 알맞은 함수 이름을 작성하라

(1) 함수는 값을 입력받는데 사용된다. 모든 것을 문자열로 간주해서 입력받기 때문이다. 그러므로 숫자로 입력을 원한다면 (2) 함수를 추가로 사용해야 한다.
- (1) : input(), (2) : int()

4. 다음 중 1~3에 해당하는 파이썬에서 제공하는 산술 연산자를 고르시오.
- 몫만 남긴다 : %
- 나머지만 남긴다 : //
- 제곱 계산 : **

5. 다음 중 종류가 다른 연산자는
- != : 관계 연산자

6, 7, 8, 9, 10, 11, 12, 14, 17번은 코드 풀이 참고

13. 다음 중 1~4 설명에 해당하는 리스트 조작 함수를 고르시오.
- 리스트에서 해당 값 카운트 : count()
- 지정한 값을 찾아 위치로 변환 : index()
- 리스트 내용을 새로운 리스트에 복사 : copy()
- 리스트 맨 뒤에 항목을 뺌 : pop()

15. 딕셔너리의 특징 중 틀린 것을 고르시오.
- 1. 중괄호 {}로 구성된다 : 옳다
- 2. 키와 값의 쌍으로 구성된다. : 옳다
- 3. 읽기 전용이다 : 틀렸다. 튜플의 대한 설명이다.
- 4. 키는 종복될 수 있다. : 틀렸다. 키는 중복될 수 없다.

16. 다음은 세트의 특성이다. 틀린 것을 모두 고르시오.
- 1. 중괄호 {}로 구성된다. : 옳다
- 2. 딕셔너리에서 값만 모아 놓은 형태이다. : 틀렸다. 키를 모아놓은 형태이다.
- 3. 읽기 전용이다. : 틀렸다. 튜플의 대한 설명이다.
- 4. 중복된 값은 존재하지 않는다. : 옳다

18. 다음은 튜플의 특성이다. 틀린 것을 모두 고르시오.
- 1. 소괄호로 구성된다. : 옳다
- 2. 리스트처럼 tup[3] 형태로 접급할 수 있다. : 옳다
- 3. 읽기 전용이지만, append()함수를 사용할 수 있다. : 틀렸다. 사용할 수 없다.
- 4. 읽기 전용이르모 del(tup)처럼 튜플 자체를 삭제하려 한다면 오류가 발생한다. : 틀렸다. 튜플 내부 원소를 1개 지정해서 삭제하는 건 불가능하지만 튜플 자체를 삭제할 순 있다.

In [25]:
# 연습 문제 6번

a = 200

if a < 100:
    print("100보다 작군요.")

# a가 100보다 크기 때문에 문구는 작성이 되지 않는다.

In [27]:
# 연습 문제 7번

for i in range(1, 10, 1):
    print('ㅎ')

# 총 9번 반복한다.

ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ
ㅎ

In [28]:
# 연습 문제 8번

while True:
    print('ㅎ', end = '')
    break

# break에 걸리기 때문에 1번만 출력된다.

ㅎ

In [29]:
# 연습 문제 9번

def addValue(v1, v2):
    result = 0
    result = v1 + v2
    return result

hap = addValue(100, 200)
print('100과 200의 합 : %d' % hap)

100과 200의 합 : 300

In [31]:
# 연습 문제 10번

def func1():
    var = 100 # 지역 변수

def func2():
    global var # 이 함수안에서 var은 전역 변수
    var = 200

var = 0
func1()
print(var)
func2()
print(var)

0
200

In [34]:
# 연습 문제 11번
lst = []
for i in range(0, 200):
    lst.append(0) # 0을 200개 채운다
len(lst)

200

In [35]:
# 연습 문제 12번

a = [10, 20, 30, 40]

print(a[0]) # 10
print(a[-1]) # 40
print(a[1:3]) # 20, 30
print(a[2:]) # 30, 40

10
40
[20, 30]
[30, 40]

In [36]:
# 연습 문제 14번

dataList = [data for data in range(1, 10) if data % 4 == 0] # 4의 배수만을 추출하는 컴프리헨션
print(dataList)

[4, 8]

In [37]:
# 연습 문제 17번

myStr = '#'
myStr.join('IT쿡북')
print(myStr)

#

# 응용 예제 01 : 자동 로또 번호 생성기
- 1~45 숫자 중에서 번호 6개를 고르는 로또 번호를 자동으로 만들어 주는 프로그램을 작성하자. 사용자가 입력한 개수만큼 번호 쌍을 생성해 주는 기능을 한다.

In [39]:
import random 

# 전연 변수 선언
totalLotto = []
lotto = []
pickNum = 0
count = 0

# 메인 코드 부분
print('로또 번호 생성을 시작합니다.')
count = int(input('몇 번을 뽑을까요?'))

for _ in range(count):
    lotto = []
    while True:
        pickNum = random.randint(1, 45)
        if pickNum not in lotto:
            lotto.append(pickNum)
        if len(lotto) > 6 :
            break
    totalLotto.append(lotto)

for lotto in totalLotto:
    lotto.sort()
    print('자동번호 -->', end=' ')
    for i in range(0, 6):
        print('%2d' % lotto[i], end = ' ')
    print()

로또 번호 생성을 시작합니다.
몇 번을 뽑을까요?1
자동번호 -->  9 15 25 27 29 39

# 응용 예제 02 : 가장 많이 나온 글자 세기
- 김소월의 진달래꽃 시에서 4회 이상 나온 글자를 센다. 단 영문/한글만 해당하고, 그 외는 인정하지 않는다.

In [43]:
# 전역 변수 선언

poet='''
나 보기가 역겨워 가실 때에는 말없이 고이 보내 드리오리다
영변에 약산 진달래꽃 아름 따가 가실 길에 뿌리오리다
가시는 걸음 걸음 놓인 그 꽃을 사뿐히 즈려 밟고 가시옵소서
나 보기가 역겨워 가실 때에는 죽어도 아니 눈물 흘리오리다
'''

countDic = {}

# 메인 코드 부분

if __name__ == "__main__":
    for ch in poet:
        if ch.isalpha():
            if ch in countDic:
                countDic[ch] += 1
            else:
                countDic[ch] = 1
    
    print('원문', poet)
    print('-'*25)
    print('문자 빈도수(4회 이상)')
    print('-'*25)
    for key in countDic:
        if countDic[key] >= 4:
            print(key, '-->', countDic[key])

원문
나 보기가 역겨워 가실 때에는 말없이 고이 보내 드리오리다
영변에 약산 진달래꽃 아름 따가 가실 길에 뿌리오리다
가시는 걸음 걸음 놓인 그 꽃을 사뿐히 즈려 밟고 가시옵소서
나 보기가 역겨워 가실 때에는 죽어도 아니 눈물 흘리오리다

-------------------------
문자 빈도수(4회 이상)
-------------------------
가 --> 8
에 --> 4
리 --> 6

# chapter 03 : 선형 리스트

### Section 01 : 선형 리스트의 기본

##### 1. 선형 리스트의 개념
- 선형 리스트는 데이터를 일정한 순서로 나열한 자료구조로, 순차 리스트라고도 한다. 선형 리스트는 입력 순서대로 저장하는 데이터에 적당하다. 

##### 2. 선형 리스트의 원리
- 교재 설명 참고

![](https://t1.daumcdn.net/cfile/tistory/23376239565C553D1A)
<center></center>

### Section 02 : 선형 리스트의 간단 구현

##### 1. 데이터가 5개인 선형 리스트 생성

In [50]:
# 선형 리스트 생성

katok = ['다현', '정연', '쯔위', '사나', '지효']
print((katok))

['다현', '정연', '쯔위', '사나', '지효']

##### 5. 데이터 삽입

In [51]:
# 선형 리스트 데이터 삽입 - 1

katok.append(None)
print(katok)

katok[5] = '모모'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None]
['다현', '정연', '쯔위', '사나', '지효', '모모']

In [52]:
# 선형 리스트 데이터 삽입 - 2

katok.append(None)
print(katok)

katok[6] = katok[5]
katok[5] = None
print(katok)

katok[5] = katok[4]
katok[4] = None
print(katok)

katok[4] = katok[3]
katok[3] = None
print(katok)

katok[3] = '미나'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모', None]
['다현', '정연', '쯔위', '사나', '지효', None, '모모']
['다현', '정연', '쯔위', '사나', None, '지효', '모모']
['다현', '정연', '쯔위', None, '사나', '지효', '모모']
['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

##### 5. 데이터 삭제

In [53]:
# 선형 리스트 데이터 삭제

katok[4] = None
print(katok)

katok[4] = katok[5]
katok[5] = None
print(katok)

katok[5] = katok[6]
katok[6] = None
del(katok[6])
print(katok)

['다현', '정연', '쯔위', '미나', None, '지효', '모모']
['다현', '정연', '쯔위', '미나', '지효', None, '모모']
['다현', '정연', '쯔위', '미나', '지효', '모모']

### Section 03 : 선형 리스트의 일반 구현

##### 배열을 이용한 선형 리스트 생성

In [56]:
# 배열 만들기

katok = []

# 데이터 추가하기
katok.append(None)
배열길이 = len(katok)
katok[배열길이 - 1] = '다현'
print(katok)

# 두 번째 데이터 입력
katok.append(None)
배열길이 = len(katok)
katok[배열길이 - 1] = '정연'
print(katok)

['다현']
['다현', '정연']

##### 2. 선형 리스트 생성 함수의 완성
- 다현, 정연, 쯔위, 사나, 지효를 차례대로 추가하는 완전한 코드 만들기

In [57]:
katok = []

def add_data(friend):
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

friends = ['다현', '정연', '쯔위', '사나', '지효']

for name in friends:
    add_data(name)

print(katok)

['다현', '정연', '쯔위', '사나', '지효']

##### 3. 데이터 삽입

중간 데이터 삽입
- 쯔위 위치에 솔라를 삽입한다.

In [60]:
katok.append(None)

for 현재위치 in range(5, 2, -1):
    katok[현재위치] = katok[현재위치 - 1]
    katok[현재위치 - 1] = None

katok[2] = '솔라'

In [61]:
katok

['다현', '정연', '솔라', None, '쯔위', '사나', None, None]

##### 4. 데이터 삽입 함수의 완성

In [64]:
katok = ['다현', '정연', '쯔위', '사나', '지효']

def insert_data(position, friend):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return

    katok.append(None) # 빈칸 추가
    kLen = len(katok) # 배열의 현재 크기

    for i in range(kLen - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None

    katok[position] = friend

insert_data(2, '솔라')
print(katok)
insert_data(6, '문별')
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효']
['다현', '정연', '솔라', '쯔위', '사나', '지효', '문별']

##### 5. 데이터 삭제

In [65]:
katok = ['다현', '정연', '쯔위', '사나', '지효']

def delete_data(position):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return

    kLen = len(katok) # 배열의 현재 크기
    katok[position] = None # 데이터 삭제

    for i in range(position+1, kLen):
        katok[i-1] = katok[i]
        katok[i] = None

    del(katok[kLen-1]) # 배열의 맨 마지막 위치 삭제

delete_data(1)
print(katok)
delete_data(3)
print(katok)

['다현', '쯔위', '사나', '지효']
['다현', '쯔위', '사나']

##### 6. 기본 선형 리스트의 완성

In [93]:
# 함수 선언 부분

def add_data(friend):
    katok.append(None)
    kLen = len(katok)
    katok[kLen-1] = friend

def insert_data(position, friend):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return

    katok.append(None) # 빈칸 추가
    kLen = len(katok) # 배열의 현재 크기

    for i in range(kLen - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None

    katok[position] = friend

def delete_data(position):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')
        return

    kLen = len(katok) # 배열의 현재 크기
    katok[position] = None # 데이터 삭제

    for i in range(position+1, kLen):
        katok[i-1] = katok[i]
        katok[i] = None

    del(katok[kLen-1]) # 배열의 맨 마지막 위치 삭제

# 전역 변수 선언 부분

katok = []
select = -1 # 1: 추가, 2: 삽입, 3: 삭제, 4: 종료

# 메인 코드 부분

if __name__=='__name__':
    while(select != 4):
        select = int(input('선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->'))

        if (select == 1):
            data = input('추가할 데이터-->')
            add_data(data)
            print(katok)

        elif (select == 2):
            pos = int(input('삽입할 위치-->'))
            data = input('추가할 데이터-->')
            insert_data(pos, data)
            print(katok)
        
        elif (select == 3):
            pos = int(input('삭제할 위치-->'))
            delete_data(pos, data)
            print(katok)
        
        elif (select == 4):
            print(katok)
            exit
        else:
            print('1~4 중 하나를 입력하세요')
            continue

False

In [74]:
!ls

Code03-04.py.py  sample_data

In [76]:
import os
os.chdir('/content')

In [78]:
%run Code03-04.py.py

### Section 04 : 선형 리스트의 응용

##### 1. 다항식의 선형 리스트 표현
- 선형 리스트의 가장 많은 응용 중 하나는 다항식을 저장하고 활용하는 것이다.

In [81]:
# 다항식 만들기

px = [7, -4, 0, 5]
print(px)

# 전체 배열의 길이는 4이므로 4-1인 3부터 카웉트해서 4개 항으로 계산한다.

x = 2
pxVal = 7*x**3 - 4*x**2 + 0*x**1 + 5*x**0
print(pxVal)  

# 다항식 형태 출력하기

px = [7, -4, 0, 5]
polyStr = 'P(x) = '
polyStr += ' + ' + str(px[0]) + 'x^' + str(3)
polyStr += ' + ' + str(px[1]) + 'x^' + str(2)
polyStr += ' + ' + str(px[2]) + 'x^' + str(1)
polyStr += ' + ' + str(px[3]) + 'x^' + str(0)

print(polyStr)

[7, -4, 0, 5]
45
P(x) =  + 7x^3 + -4x^2 + 0x^1 + 5x^0

##### 다항식의 선형 리스트 표현과 계산 프로그램

In [84]:
# 함수 선언 부분

def printPoly(p_x):
    term = len(p_x) - 1 # 최고차항 숫자 = 배열 길이 - 1
    polyStr = 'P(x) ='

    for i in range(len(px)):
        coef = p_x[i] # 계수

        if (coef >= 0):
            polyStr += '+'
        polyStr += str(coef) + 'x^' + str(term) + ' '
        term -= 1

    return polyStr

def calcPoly(xVal, p_x):
    retValue = 0
    term = len(p_x) - 1

    for i in range(len(px)):
        coef = p_x[i]
        retValue += coef * xVal ** term
        term -= 1

    return retValue

# 전역 변수 선언 부분

px = [7, -4, 0, 5]

# 메인 코드 부분

if __name__ =='__main__' :
    pStr = printPoly(px)
    print(pStr)

    xValue = int(input('X 값-->'))

    pxValue = calcPoly(xValue, px)
    print(pxValue)

P(x) =+7x^3 -4x^2 +0x^1 +5x^0
X 값-->2
45

In [ ]:
# self study - 모르겠다

# 위 코드를 활용하여 계수가 0인 항은 출력되지 않도록하고 첫 번째 항의 + 부호도 출력되지 않도록한다.

# 함수 선언 부분

def printPoly(p_x):
    term = len(p_x) - 1 # 최고차항 숫자 = 배열 길이 - 1
    polyStr = 'P(x) ='

    for i in range(len(px)):
        coef = p_x[i] # 계수

        if (coef > 0):
            polyStr += '+'
        polyStr += str(coef) + 'x^' + str(term) + ' '
        term -= 1
'
    return polyStr

def calcPoly(xVal, p_x):
    retValue = 0
    term = len(p_x) - 1

    for i in range(len(px)):
        coef = p_x[i]
        retValue += coef * xVal ** term
        term -= 1

    return retValue

# 전역 변수 선언 부분

px = [7, -4, 0, 5]

# 메인 코드 부분

if __name__ =='__main__' :
    pStr = printPoly(px)
    print(pStr)

    xValue = int(input('X 값-->'))

    pxValue = calcPoly(xValue, px)
    print(pxValue)

##### 3. 특수 다항식 처리 프로그램

In [105]:
# 함수 선언 부분

def printPoly(t_x, p_x):
    polyStr = 'P(x) ='

    for i in range(len(p_x)):
        term = t_x[i] # 항 계수
        coef = p_x[i] # 계수

        if (coef > 0):
            polyStr += '+'
        polyStr += str(coef) + 'x^' + str(term) + ''

    return polyStr

def calcPoly(xVal, t_x, p_x):
    retValue = 0

    for i in range(len(px)):
        term = t_x[i] 
        coef = p_x[i]
        retValue += coef * xValue ** term

    return retValue

# 전역 변수 선언 부분

tx = [300, 20, 0]
px = [7, -4, 5]

# 메인 코드 부분

if __name__ == '__main__':
    pStr = printPoly(tx, px)
    print(pStr)

    xValue = int(input('X 값-->'))

    pxValue = calcPoly(xValue, tx, px)
    print(pxValue)

P(x) =+7x^300-4x^20+5x^0
X 값-->1
8

# 연습문제

1. (1)에 들어갈 용어는

(1) 는(은) 데이터를 일정한 순서로 나열한 자료구조로, 입력 순서대로 저장하는 데이터에 적당하다.
- (1) 선형 리스트

2. 다음은 선형 리스트에 데이터를 삽입하는 과정이다. 거리가 먼 것은
- (1) 맨 앞에 공간을 하나 추가해야 한다. : 오답이다. 맨 뒤에 공간을 추가하여야 한다.
- (2) 마지막 위체이 바로 앞 위치의 데이터를 이동시킨다
- (3) 삽입할 위치까지 (2)를 반복한다.
- (4) 삽입할 위치에 데이터를 삽입한다.

3. 다음은 선형 리스트에 데이터를 삭제하는 과정이다. 순서대로 나열하시오.
- (4) 삭제할 위치의 데이터를 삭제한다. -> (2) 삭제된 위치의 다음 데이터를 삭제한 위치로 이동시킨다. -> (3) 마지막 위치까지 (2)를 반복한다. -> (1) 맨 마지막 칸을 삭제한다.

4, 5, 6, 7번은 밑에 코드 풀이 참조

8. 선형 리스트로 구현할 수 있는 응용 분야는?
- 다항식

In [106]:
# 연습 문제 4번

katok = ['다현', '정연', '쯔위', '사나', '지효', '모모']
katok.append(None)
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모', None]

In [108]:
# 연습 문제 5번

katok = ['다현', '정연', '쯔위', '사나', '지효', '모모', None]
del katok[6]
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

In [ ]:
# 연습 문제 6번

def add_data(friend):
    katok.append(None)
    Klen - len(katok)
    katok[kLen-1] = friend

In [ ]:
# 연습 문제 7번

def insert_data(position, friend):
    katok.append(None)
    kLen = len(katok)
    for i in range(kLen - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None
    katok[position] = friend

# 응용 예제 01 : 카톡 친구 자동 삽입하기
- 카톡 친구 이름과 연락 횟수를 입력하면 자동으로 위치를 찾아 삽입하는 프로그램이다. 아래처럼 튜플 리스트로 시작한다.

In [111]:
# 함수 선언 부분

def find_and_insert(friend, k_count):
    findPos = -1
    for i in range(len(katok)):
        pair = katok[i]
        if k_count >= pair[1]:
            findPos = i
            break

    if findPos == -1:
        findPos = len(katok)

    insert_data(findPos, (friend, k_count))

def insert_data(position, friend):
    if position < 0 or position > len(katok):
        print('데이터를 삽입할 범위를 벗어났습니다.')

        return

    katok.append(None) # 빈칸 추가
    kLen = len(katok) # 배열의 현재 크기

    for i in range(kLen - 1, position, -1):
        katok[i] = katok[i-1]
        katok[i-1] = None

    katok[position] = friend

# 전역 변수 선언 부분

katok = [('다현', 200), ('정연', 150), ('쯔위', 90), ('사나', 30), ('지효', 15)]

# 메인 코드 부분

if __name__ == '__main__':
    while True:
        data = input('추가할 친구-->')
        count = int(input('카톡 횟수-->'))
        find_and_insert(data, count)
        print(katok)

추가할 친구-->문별
카톡 횟수-->100
[('다현', 200), ('정연', 150), ('문별', 100), ('쯔위', 90), ('사나', 30), ('지효', 15)]

KeyboardInterrupt: ignored

# 응용 예제 02 : 2차원 배열 활용하기
- 카톡 친구 이름과 연락 횟수를 입력하면 자동으로 위치를 찾아 삽입하는 프로그램이다. 아래처럼 튜플 리스트로 시작한다.

In [117]:
# 함수 선언 부분

def printPoly(p_x):
    polyStr = 'P(x) ='

    for i in range(len(p_x[0])):
        term = p_x[0][i] # 항 차수
        coef = p_x[1][i] # 계수

        if (coef > 0):
            polyStr += '+'
            polyStr += str(coef) + 'x^' + str(term) + ''

    return polyStr

def calcPoly(xVal, p_x):
    retValue = 0

    for i in range(len(p_x[0])):
        term = p_x[0][i]
        coef = p_x[1][i]
        retValue += coef * xValue ** term
        term -= 1
    return retValue

# 전역 변수 선언 부분

px = [[300, 20, 0], 
      [7, -4, 5]]

# 메인 코드 부분

if __name__ == '__main__':
    pStr = printPoly(px)
    print(pStr)

    xValue = int(input('X 값-->'))

    pxValue = calcPoly(xValue, px)
    print(pxValue)

P(x) =+7x^300+5x^0
X 값-->1
8